.wrapper {
    -moz-user-select: none; /* Firefox */
 -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
 -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
 user-select: none; /* Propriété standard */
    position: fixed;
    z-index:100;
    height: 100%;
    width: 100%;
}

.nav-flex {
    top: 0px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    z-index:100;
    justify-content: center;
    height: 390px;
}


.section-courtmetrages-color {
    margin: 0px 10px;
    width: 100px;
    height: 350px;
    background: url(../../ASSETS/CM/CM.png);
    position: relative;
    transform: scale(1.05);
    transition: 300ms;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
.section-clips-color {
    margin: 40px 10px 0px 10px;
    width: 100px;
    height: 350px;
    background: url(../../ASSETS/CLIP/CLIP.png);
    position: relative;
    transform: scale(1.05);
    transition: 300ms;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
.section-publicités-color {
    margin: 0px 10px 40px 10px;
    width: 100px;
    height: 350px;
    background: url(../../ASSETS/PUB/PUB.png);
    position: relative;
    transform: scale(1.05);
    transition: 300ms;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
.section-dessins-color {
    margin: 40px 10px 0px 10px;
    width: 100px;
    height: 350px;
    background: url(../../ASSETS/BD/BD.png);
    position: relative;
    transform: scale(1.05);
    transition: 300ms;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
.section-apropos-color {
    margin: 0px 10px 40px 10px;
    width: 100px;
    height: 350px;
    background: url(../../ASSETS/APROPOS/APP.png);
    position: relative;
    transform: scale(1.05);
    transition: 300ms;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}



.section-courtmetrages {
    margin: 0px 10px;
    width: 100px;
    height: 350px;
    background: url(../../ASSETS/CM/CM.png);
    filter: grayscale(1);
    position: relative;
    transition: 300ms;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
.section-clips {
    margin: 40px 10px 0px 10px;
    width: 100px;
    height: 350px;
    background: url(../../ASSETS/CLIP/CLIP.png);
    filter: grayscale(1);
    position: relative;
    transition: 300ms;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
.section-publicités {
    margin: 0px 10px 40px 10px;
    width: 100px;
    height: 350px;
    background: url(../../ASSETS/PUB/PUB.png);
    filter: grayscale(1);
    position: relative;
    transition: 300ms;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
.section-dessins {
    margin: 40px 10px 0px 10px;
    width: 100px;
    height: 350px;
    background: url(../../ASSETS/BD/BD.png);
    filter: grayscale(1);
    position: relative;
    transition: 300ms;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
.section-apropos {
    margin: 0px 10px 40px 10px;
    width: 100px;
    height: 350px;
    background: url(../../ASSETS/APROPOS/APP.png);
    filter: grayscale(1);
    position: relative;
    transition: 300ms;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.nav-text {
    position: absolute; 
    z-index: 1;
}

@media (max-width: 800px) {
    .section-courtmetrages-color {width: 50px; height: 175px; margin: 0px 3px;}
    .section-clips-color {width: 50px; height: 175px; margin: 40px 3px 0px 3px;}
    .section-publicités-color {width: 50px; height: 175px; margin: 0px 3px 40px 3px;}
    .section-dessins-color {width: 50px; height: 175px; margin: 40px 3px 0px 3px;}
    .section-apropos-color {width: 50px; height: 175px; margin: 0px 3px 40px 3px;}

    .section-courtmetrages {width: 50px; height: 175px; margin: 0px 3px;}
    .section-clips {width: 50px; height: 175px;margin: 40px 3px 0px 3px;}
    .section-publicités {width: 50px; height: 175px;margin: 0px 3px 40px 3px;}
    .section-dessins {width: 50px; height: 175px;margin: 40px 3px 0px 3px;}
    .section-apropos {width: 50px; height: 175px; margin: 0px 3px 40px 3px;}
    .nav-text {
        position: absolute; 
        z-index: 1;
        width: 50px;
    }
}

@media (max-height: 550px) {
    .section-courtmetrages-color {width: 50px; height: 175px; margin: 0px 3px;}
    .section-clips-color {width: 50px; height: 175px; margin: 40px 3px 0px 3px;}
    .section-publicités-color {width: 50px; height: 175px; margin: 0px 3px 40px 3px;}
    .section-dessins-color {width: 50px; height: 175px; margin: 40px 3px 0px 3px;}
    .section-apropos-color {width: 50px; height: 175px; margin: 0px 3px 40px 3px;}

    .section-courtmetrages {width: 50px; height: 175px; margin: 0px 3px;}
    .section-clips {width: 50px; height: 175px;margin: 40px 3px 0px 3px;}
    .section-publicités {width: 50px; height: 175px;margin: 0px 3px 40px 3px;}
    .section-dessins {width: 50px; height: 175px;margin: 40px 3px 0px 3px;}
    .section-apropos {width: 50px; height: 175px; margin: 0px 3px 40px 3px;}
    .nav-text {
        position: absolute; 
        z-index: 1;
        width: 50px;
    }
    .wrapper {
        margin-top: 90px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* Animation Nav */

@keyframes slide1 {
    0% {
        margin-top: 40px;
    }

    100% {
        margin-top: 0px;
        margin-bottom: 40px;
    }
}

@keyframes slide2 {
    0% {
        margin-bottom: 40px;
        margin-top: 0px;
    }
   
    100% {
        margin-bottom: 0px;
        margin-top: 40px;
    }
}
