.imgvideo {
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    cursor:pointer;
    border: 10px white solid;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    transition: 400ms;
}

@media (max-width: 850px) {
    .imgvideo {
        border: 5px white solid;
    }
}

.imgvideo:hover {
    transition: 400ms;
    transform: scale(1.04)
}

