.section {
    display: grid;
    grid-template-columns: 33% 28% 2% 1fr;
}

.separator-profil {
    grid-column: 3;
    align-items: center;
    width: 7px;
    height: 60%;
    background-color: white;
    border-radius: 15px;
   justify-self: center;
   align-self: center;
}

.section .contact {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.9em;
    line-height: 2;
    justify-self: center;
   align-self: center;
   text-align: center;
    grid-column: 2;
}

.section .text {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    line-height: 23px;
    text-align: center;
    justify-self: center;
   align-self: center;
    grid-column: 4;
    margin-left: 10px;
    margin-right: 10px;
}

.profil {
   grid-column: 1;
   align-self: start;
   max-width: 100%;
    max-height: 100vh;
    height: auto;
}

/* REPONSIVE */

@media (max-width: 1300px) {
    .section .text {
        font-size: 1.1em;
        line-height: 19px;
    }
}
@media (max-width: 1155px) {
    .section .contact {
        font-size: 1.2em;
    }

    .section .text {
        font-size: 0.9em;
        line-height: 17px;
    }
}

@media (max-width: 800px) {
    .section {
        display:flex;
        flex-direction: column;
    }

    .profil {
        align-self: center;
        max-width: 100%;
         max-height: 100vh;
         height: auto;
         margin-top: 20px;
     }

    .separator-profil {
        width: 30%;
        height: 5px;
        background-color: white;
        border-radius: 15px;
       justify-self: center;
       align-self: center;
       margin: 20px;
    }
    
    .section .contact {
        margin-top: 40px;
        font-size: 1.2em;
    }

    .section .text {
        margin: 30px;
        margin-bottom: 80px;
        font-size: 0.9em;
    }
}


@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');