.section-bd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightwidget-widget {
    padding: 20px;
    border: none;
    max-width: 800px;
    height: 800px;
    max-height: 100vh;
    margin-bottom: 30px;
}
@media (max-height: 750px) {
    .lightwidget-widget {
        height: 650px;
        width: 650px;
    }
}
@media (max-height: 670px) {
    .lightwidget-widget {
        height: 520px;
        width: 520px;
    }
}
@media (max-height: 600px) {
    .lightwidget-widget {
        height: 420px;
        width: 420px;
    }
}
@media (max-height: 470px) {
    .lightwidget-widget {
        height: 320px;
        width: 320px;
    }
}
@media (max-height: 300px) {
    .lightwidget-widget {
        height: 270px;
        width: 270px;
    }
}

@media (max-width: 600px) {
    .lightwidget-widget {
        height: 500px;
    }
}
@media (max-width: 480px) {
    .lightwidget-widget {
        height: 400px;
        width: 400px;
    }
}
@media (max-width: 380px) {
    .lightwidget-widget {
        height: 340px;
        width: 340px;
    }
}
@media (max-width: 320px) {
    .lightwidget-widget {
        height: 290px;
        width: 290px;
    }
}